<footer>
    <div layout="column" layout-align="center center" class="m-footer">
        <p></p>
        <div layout="row">
            <a href="" ui-sref="home" data-translate="global.footer.about">About</a>
            <a href="" ui-sref="faq" data-translate="global.footer.faq">FAQ</a>
            <a href="" ui-sref="my-feedback" data-translate="global.footer.feedback">Feedback</a>
            <a href="" ui-sref="my-question" data-translate="global.footer.support">Support</a>
        </div>
        <h2>{{vm.title}}</h2>
        <div>
            <span> © 2016-2017 GSite, Inc</span>
        </div>
    </div>
</footer>
