 <md-content class="white-bg">
    <md-nav-bar md-selected-nav-item="vm.currentState" nav-bar-aria-label="navigation links">
      <md-nav-item ui-sref="web-template" md-nav-click="goto(web-template)" name="web-template">
          <span data-translate="global.menubar.templates">Templates</span>
      </md-nav-item>
      <md-nav-item ui-sref="website" md-nav-click="goto(website)" name="website">
          <span data-translate="global.menubar.websites">Websites</span>
      </md-nav-item>
      <md-nav-item ui-sref="question" md-nav-click="goto(question)" name="question">
          <span data-translate="global.menubar.questions">Questions</span>
      </md-nav-item>
      <md-nav-item ui-sref="feedback" md-nav-click="goto(feedback)" name="feedback">
          <span data-translate="global.menubar.feedbacks">Feedbacks</span>
      </md-nav-item>
        <md-nav-item ui-sref="notification" md-nav-click="goto(notification)" name="notification">
            <span data-translate="global.menubar.noti">Notifications</span>
        </md-nav-item>
    </md-nav-bar>
  </md-content>
