<md-content class="white-bg">
    <md-nav-bar md-selected-nav-item="vm.currentState" nav-bar-aria-label="navigation links">
        <md-nav-item ui-sref="settings" md-nav-click="goto(settings)" name="settings">
            <span data-translate="global.general">General</span>
        </md-nav-item>
        <md-nav-item ui-sref="password" md-nav-click="goto(password)" name="password">
            <span data-translate="global.form.password">Password</span>
        </md-nav-item>
    </md-nav-bar>
</md-content>
