<div layout="row" layout-align="center center">
    <div flex-xs="20" flex="10" flex-gt-md="20">
        <md-button ui-sref="user-management.new" class="md-icon-button md-raised md-primary">
            <i class="material-icons">add</i>
        </md-button>
    </div>
    <b flex data-translate="global.form.email">
        Email adrress
    </b>
    <b flex-xs="25" flex-sm="20" flex="15" data-translate="usermanage.activated">
        Activated
    </b>
    <b hide-xs flex="30" data-translate="global.form.created">Created</b>
</div>
<div ng-repeat="user in vm.users" ng-hide="vm.currentAccount.login==user.login">
    <md-divider></md-divider>
    <div layout="row" layout-align="center center">
        <div class="m-item-actions" flex-xs="20" flex="10" flex-gt-md="20" layout="row" layout-align="start center">
            <md-button hide-xs hide-sm hide-md class="md-icon-button md-raised md-warn"
                       ui-sref="user-management.delete({login: user.login})">
                <i class="material-icons">delete</i>
            </md-button>
            <md-button hide-xs hide-sm hide-md class="md-icon-button md-raised md-primary"
                       ui-sref="user-management.edit({login: user.login})">
                <i class="material-icons">edit</i>
            </md-button>
            <md-button class="md-icon-button md-raised md-primary" ui-sref="user-management-detail({login:user.login})">
                <i class="material-icons">remove_red_eye</i>
            </md-button>
        </div>

        <span flex class="m-1-line">{{user.email}}</span>

        <md-switch flex-xs="25" flex-sm="20" flex="15" class="md-primary" ng-model="user.activated"
                   aria-label="Switch 1" ng-change="vm.setActive(user,user.activated)"></md-switch>

        <span hide-xs flex="30">{{user.createdDate | date:'medium'}}</span>
    </div>

</div>
