<div class="m-dialog-panel">
    <md-card-content>
        <span class="error-text" ng-show="vm.isDomainError">Sub domain is already existed!</span>
        <p></p>
        <form name="Form" layout="column" ng-submit="vm.save()">
            <md-input-container>
                <label data-translate="myWebsite.name">Name</label>
                <input type="text" name="name" ng-minlength="3" ng-model="vm.myWebsite.name" md-autofocus required/>
            </md-input-container>
            <md-input-container>
                <label data-translate="myWebsite.subdomain">Sub domain</label>
                <input name="subdomain" ng-model="vm.myWebsite.domain" type="text" minlength="3" ng-pattern="/^[a-zA-Z]*$/" required>
            </md-input-container>
            <md-input-container>
                <label data-translate="myWebsite.template">Template</label>
                <md-select ng-model="vm.myWebsite.template" required>
                    <md-option ng-repeat="item in vm.templates" value="{{item.source}}">{{item.name}}</md-option>
                </md-select>
            </md-input-container>
            <p></p>
            <div layout="row">
                <button type="submit" ng-disabled="!Form.$valid" class="md-button md-raised md-primary" data-translate="global.form.save">Save</button>
                <span flex></span>
                <md-button ng-click="vm.closeDialog()" class="md-raised right" data-translate="global.form.cancel">Cancel</md-button>
            </div>
        </form>
    </md-card-content>
</div>
