<md-content class="white-bg">
  <md-nav-bar md-selected-nav-item="vm.currentState" nav-bar-aria-label="navigation links">
    <md-nav-item ui-sref="user-management" md-nav-click="goto(user-management)" name="user-management" >
        <span data-translate="global.menubar.users">Users</span>
    </md-nav-item>
    <md-nav-item ui-sref="metrics" md-nav-click="goto(metrics)" name="metrics">
        <span data-translate="global.menubar.metrics">Metrics</span>
    </md-nav-item>
    <md-nav-item ui-sref="health" md-nav-click="goto(health)" name="health">
        <span data-translate="global.menubar.health">Health</span>
    </md-nav-item>
    <md-nav-item ui-sref="docs" md-nav-click="goto(docs)" name="docs">
        <span data-translate="global.menubar.api">API</span>
    </md-nav-item>
    <md-nav-item ui-sref="configuration" md-nav-click="goto(configuration)" name="configuration">
        <span data-translate="global.menubar.config">Config</span>
    </md-nav-item>
    <md-nav-item ui-sref="audits" md-nav-click="goto(audits)" name="audits">
        <span data-translate="global.menubar.audits">Audits</span>
    </md-nav-item>
    <md-nav-item ui-sref="logs" md-nav-click="goto(logs)" name="logs">
        <span data-translate="global.menubar.logs">Logs</span>
    </md-nav-item>
  </md-nav-bar>
</md-content>
