<div class="m-register" layout-gt-xs="row" layout-align-gt-xs="center center">
    <form name="Form" layout-padding ng-submit="vm.register()">
        <md-content class="md-no-momentum white-bg" md-whiteframe="1">

            <span ng-show="vm.errorUserExists" class="error-text"
                  data-translate="global.form.error.register.username">Username is already existed!</span>

            <span ng-show="vm.errorEmailExists" class="error-text"
                  data-translate="global.form.error.register.email">Email is already existed!</span>

            <div ng-show="vm.success" layout="column">
                <strong data-translate="register.messages.success.title">Sign up successfully!</strong>
                <span data-translate="register.messages.success.subtitle">Please check your email for confirmation</span>
            </div>

            <h2 data-translate="global.form.signup">Register</h2>
            <div layout-gt-sm="row" ng-show="!vm.success">
                <div flex layout-padding>
                    <md-input-container class="md-icon-float md-block">
                        <md-icon style="color:black" aria-label="keyboard_arrow_down" class="material-icons">person
                        </md-icon>
                        <input id="login" name="username" ng-model="vm.registerAccount.login" type="text" md-autofocus
                               placeholder="{{'global.form.username' | translate}}" minlength="6" ng-pattern="/^[a-zA-Z0-9]*$/" required>
                        <div ng-messages="Form.username.$error">
                            <div ng-message-exp="['required', 'minlength','pattern']" data-translate="global.form.error.username">
                                More than 6 characters, no space
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <md-icon style="color:black" aria-label="keyboard_arrow_down" class="material-icons">email
                        </md-icon>
                        <input ng-model="vm.registerAccount.email" type="email" name="email" ng-pattern="/^.+@.+\..+$/"
                               placeholder="{{'global.form.email' | translate}}" required>
                        <div ng-messages="Form.email.$error">
                            <div ng-message-exp="['required', 'pattern']" data-translate="global.form.error.email">This
                                Must be valid email
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div flex layout-padding>
                    <md-input-container class="md-icon-float md-block">
                        <md-icon style="color:black" aria-label="keyboard_arrow_down" class="material-icons">lock
                        </md-icon>
                        <input type="password" name="password" ng-model="vm.registerAccount.password"
                               placeholder="{{'global.form.password' | translate}}" required="" minlength="8"/>
                        <div ng-messages="Form.password.$error">
                            <div ng-message-exp="['required', 'minlength']" data-translate="global.form.error.password">
                                This is required and more than 8 characters
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <md-icon style="color:black" aria-label="keyboard_arrow_down" class="material-icons">
                            verified_user
                        </md-icon>
                        <input type="password" name="confirmpassword" ng-model="vm.confirmPassword"
                               placeholder="{{'global.form.confirmpassword' | translate}}" match-password="password"
                               required
                        />
                        <div ng-messages="Form.confirmpassword.$error">
                            <div ng-message-exp="['required','passwordMatch']"
                                 data-translate="global.form.error.confirmpassword">This is required and match with the
                                password
                            </div>
                        </div>
                    </md-input-container>
                </div>
            </div>
            <div layout="row">
                <button type="submit" ng-hide="vm.success" ng-disabled="!Form.$valid"
                           class="md-button md-raised md-primary"
                           data-translate="global.form.signup">Sign up
                </button>
                <md-button ng-click="vm.login()" class="md-raised md-primary" data-translate="global.form.login">Login
                </md-button>
            </div>
        </md-content>
    </form>
</div>
