<div class="m-dialog-panel">
    <md-card-content>
        <p class="md-title" data-translate="myFeedback.title">Feedbacks</p>
        <form name="Form" layout-fill ng-submit="vm.submit()">
            <md-input-container layout-fill>
                <label  data-translate="myFeedback.criteria">Criteria</label>
                <md-select ng-model="vm.feedback.title" required>
                    <md-option value="Speed" data-translate="myFeedback.option.speed">Speed</md-option>
                    <md-option value="Accuracy" data-translate="myFeedback.option.accuracy">Accuracy</md-option>
                    <md-option value="Usability" data-translate="myFeedback.option.usability">Usability</md-option>
                </md-select>
            </md-input-container>
            <p></p>
            <md-radio-group ng-show="vm.feedback.title != null" ng-model="vm.feedback.content" required>
                <md-radio-button value="Quite good and easy" class="md-primary" >
                    <span data-translate="myFeedback.option.good">Quite good and easy!</span>
                </md-radio-button>
                <md-radio-button value="Not good enough" class="md-primary" >
                    <span data-translate="myFeedback.option.normal">Not good enough!</span>
                </md-radio-button>
                <md-radio-button value="Have some problems" class="md-primary" >
                    <span data-translate="myFeedback.option.bad">Have some problems!</span>
                </md-radio-button>
            </md-radio-group>

            <p></p>
            <div layout="row" layout-fill>
                <button  ng-disabled="!Form.$valid" class=" md-button md-raised md-primary" data-translate="global.form.send">Send</button>
                <span flex></span>
                <md-button ng-click="vm.closeDialog()" class="md-raised right" data-translate="global.form.cancel">Cancel</md-button>
            </div>
        </form>
    </md-card-content>
</div>
